.node {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.node-parent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.node-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}
